{% extends 'layout.html.twig' %}

{% block content%}
<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Autores</h1>
        <h3 class="text-center">Alta de Autor</h3>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        {% if reports  %}
        <div class='alert alert-danger'>
            {% for report in reports %}
                {{ report }}
            {% endfor  %}
        </div>
        {% endif %}
        <form role="form" action="/cookbook/controller/addAutorController.php" method="POST">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre">
            </div>
            <input type="submit" class="btn btn-success" value="Agregar" />
        </form>
    </div>
{% endblock %}
