<div class = "navbar navbar-default navbar-fixed-top">
    <div class = "container">
        <div class = ".navbar-header">
            <a href = "#" class="navbar-brand">
                <img style="max-width:90px; margin-top: -10px" src="../view/img/logoTransp.png">
            </a>
        </div>
        <div class = ".navbar-header">
            <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
                <span class = "icon-bar"></span>
                <span class = "icon-bar"></span>
                <span class = "icon-bar"></span>
            </button> 
        </div>

        <div class = "collapse navbar-collapse navHeaderCollapse">
            <ul class = "nav navbar-nav navbar-right">
                <li class ="active"><a href = "/cookbook/controller/adminUserController.php">Inicio</a></li>
                <li><a href = "#">Cat&aacute;logo</a></li>
                <li><a href = "#">Libros</a></li>
                <li><a href = "/cookbook/controller/categoriesController.php">Categorias</a></li>
                <li><a href = "/cookbook/controller/statesController.php">Estados</a></li>
                <li><a href = "#">Editoriales</a></li>
                <li><a href = "/cookbook/controller/autorsController.php">Autores</a></li>
                <li><a href = "#">Pedidos</a></li>
                <li><a href = "#">Usuarios</a></li>
                <li><a href = "/cookbook/controller/contactController.php">Categorias</a></li>
                <li><a href = "/cookbook/controller/logoutController.php" data-toggle="modal">Cerrar Sesion</a></li>
            </ul>
        </div>
    </div>
</div>

{#<div class ="modal fade" id = "contact" role = "dialog">
    <div class ="modal-dialog">
        <div class ="modal-content">
            <form class = "form-horizontal">
                <div class ="modal-header">
                    <h4>Cont&aacute;ctame</h4>
                </div>
                <div class="modal-body">

                    <div class = "form-group">
                        <label for = "contact-name" class = "col-lg-2 control-label">Nombre:</label>
                        <div class = "col-lg-10">
                            <input type = "text" class = "form-control" id = "contact-name" placeholder = "Nombre Completo">
                        </div>
                    </div>

                    <div class = "form-group">
                        <label for = "contact-email" class = "col-lg-2 control-label">Email/Tel:</label>
                        <div class = "col-lg-10">
                            <input type = "email" class = "form-control" id = "contact-email" placeholder = "tu@ejemplo.com">
                        </div>
                    </div>

                    <div class = "form-group">
                        <label for = "contact-msg" class = "col-lg-2 control-label">Mensaje:</label>
                        <div class = "col-lg-10">
                            <textarea class = "form-control" rows = "8"></textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss ="modal">Cerrar</a>
                    <button class = "btn btn-primary" type = "submit">Enviar</button>
                </div>
            </form>
        </div>
    </div>    
</div>  #}