{% extends 'layout.html.twig' %}

{% block content%}
<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Bienvenido al sitio oficial de CookBook</h1>
        <h3 class="text-center">El sitio donde encontraras todos tus libros de cocina</h3>
    </div>
</div>
{% endblock %}